html, body {
    height: 100%;
    margin: 0;
    padding: 0 30px;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 0;
    background: rgba(0, 0, 0);
    position: fixed;
    width: calc(100% - 60px);
    top: -100px;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    animation: slideDown 1s ease-in-out forwards;
}

@keyframes slideDown {
    from { top: -100px; }
    to { top: 0; }
}

.logo img {
    height: 50px;
}

.nav-links, .social-icons {
    display: flex;
    align-items: center;
}

.nav-links a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: grey;
}

.social-icons a img {
    width: 24px;
    height: 24px;
    transition: opacity 0.3s ease;
}

.social-icons a:hover img {
    opacity: 0.7;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    min-height: 100vh;
    animation: fadeIn 2s ease-in;
}

.header-image img {
    max-width: 70%; 
    flex: 0 0 40%;
    margin-left: 90px; 
    animation: slideInLeft 1s ease-in-out;
}

.header-text {
    flex: 0 0 60%;
    text-align: center;
    padding: 0;
    animation: slideInRight 1s ease-in-out;
}

.header-text h1 {
    font-size: 2.5rem;
    margin: 0;
    animation: pulse 2s 3;
}

@keyframes pulse {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.05); }
}

.header-text h2 {
    font-size: 2.2rem;
    margin: 0;
}

.header-text h2 span {
    color: lightblue;
}

.header-text h2 span.analytics {
    color: rgb(93, 192, 225);
}

.header-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.header-buttons .buttons-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-buttons button {
    padding: 12px 25px;
    border: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.header-buttons button:hover {
    background-color: #fdfdfd;
    transform: translateY(-1px);
    box-shadow: 0 0 3px 3px rgb(255, 251, 251);
}

.services {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.service {
    flex: 1;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    transition: background 0.3s ease, transform 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
    animation: fadeInUp 2s ease-in-out;
}

.closingsentence {
    flex: 1;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    transition: background 0.3s ease, transform 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
    animation: fadeInUp 2s ease-in-out;
    text-align: center;
    font-size: 1rem;
}

.service:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgb(232, 240, 243);
}

@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
    animation: fadeInUp 2s ease-in-out;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1001; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0); 
    animation: fadeIn 0.5s ease-in;
}


.modal-content {
    background-color: #333;
    color: white;
    margin: auto; /* Center horizontally */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 90%; /* Responsive width */
    max-width: 500px; /* Max width */
    position: relative; /* For vertical centering */
    top: 50%;
    transform: translateY(-50%); /* Center vertically */
    animation: fadeIn 1s ease-in;
}


.modal-content input, .modal-content textarea {
    width: 100%;
    padding: 10px;
    margin: 10px -10px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.modal-content input::placeholder, .modal-content textarea::placeholder {
    color: #888;
}

.modal-content input:focus, .modal-content textarea:focus {
    background-color: #555;
    color: #fff;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.close:hover, .close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideInLeft {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}

@keyframes slideInRight {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}

@keyframes slideInUp {
    from { transform: translateY(-100%); }
    to { transform: translateY(0); }
}

.language-selector {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.8);
    padding: 5px;
    border-radius: 5px;
    display: flex;
    gap: 10px;
}

.language-flag {
    width: 30px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s ease, opacity 0.3s ease;
}

.language-flag:hover {
    opacity: 0.7;
}

.send-message {
    display: inline-block;
    padding: 12px 25px;
    border: none;
    background-color: #fcfcfc;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.send-message:hover {
    background-color: #ffffff;
    transform: translateY(-1px);
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
}

#success-message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content-container {
    position: absolute;
    top: 65px;
    left: 30px;
    right: 30px;
    bottom: 55px;
    display: flex;
    box-sizing: content-box;
    background-color: white;          /* White background */
    border-radius: 15px;              /* Rounded borders */
    overflow-y: auto;                 /* Scrollable content inside */
    padding: 20px;                    /* Padding inside the container */
}
.content-container::-webkit-scrollbar {
    width: 8px; /* Make scrollbar thinner */
}

.content-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Customize scrollbar thumb */
    border-radius: 10px; /* Rounded scrollbar */
}



.dashboard-container {
    position: absolute;
    top: 65px;
    left: 50px;
    right: 25px;
    bottom: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.dashboard-container iframe {
    width: 100%;
    height: 100%;
    border: none; /* Remove the default border around the iframe */
}

/* Sidebar Menu */
.menu {
    width: 25px; /* Start minimized */
    height: 80vh;
    position: fixed;
    top: 65px;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: width 0.2s;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.menu-content {
    display: none; /* Hide the content initially */
    margin-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
}

.menu a {
    padding: 15px 15px ;
    text-decoration: none;
    font-size: 16px;
    color: rgb(0, 0, 0);
    display: block;
}

.menu a:hover {
    color: rgb(255, 255, 255);
    background-color: #34495e;
    border-radius: 10px 10px 10px 10px;
}

/* Hover Effects for Expansion */
.menu:hover {
    width: 250px;
    z-index: 10000;
}

.menu:hover .menu-content {
    display: block;
}

.menu:before {
    content: 'Menu';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    font-size: 20px;
    letter-spacing: 2px;
    white-space: nowrap;
    transition: opacity 0.3s;
}

.menu:hover:before {
    opacity: 0;
}

/* Content Area */
.content {
    margin-left: 10px; /* Adjusted for minimized menu */
}


.reviews-wrapper {
    position: relative;
    overflow: hidden; /* Hide the scrollbar */
    display: flex;
    align-items: center;
}

.reviews-container {
    display: flex;
    overflow-x: scroll; /* Allow horizontal scrolling */
    white-space: nowrap;
    gap: 20px;
    padding: 0 10px;
    scroll-behavior: smooth; /* Smooth scrolling */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.reviews-container::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.review-card {
    background: #333; /* Dark grey background for cards */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    max-width: 300px;
    display: inline-block;
    text-align: left;
    color: #fff; /* White text color for the card */
}

.review-card p {
    font-size: 1rem;
    margin: 10px 0;
    overflow: hidden; 
    word-wrap: break-word;
    white-space: normal; /* Allow text to wrap normally */

}

.review-card h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 15px;
    color: #fff; /* White text color for the reviewer name */
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.arrow-left {
    left: 0px;
}

.arrow-right {
    right: 0px;
}

.arrow:hover {
    background: rgba(0, 0, 0, 0.7);
}

.books-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    perspective: 2000px; /* Enhanced perspective for a more dramatic effect */
    padding: 10px; /* Space around the carousel */
}

.book {
    position: relative;
    width: 180px; /* Adjust as needed */
    transition: transform 0.6s ease, z-index 0.6s ease, box-shadow 0.6s ease;
    transform-style: preserve-3d; /* Maintains 3D transformation effects */
    padding: 20px;
}

.book img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 15px; /* More pronounced rounded corners */
    transition: transform 0.6s ease, filter 0.6s ease;
}

.book:hover {
    transform: rotateY(20deg) scale(1.2) translateZ(30px); /* Stronger rotation and scaling for 3D effect */
    z-index: 20; /* Ensure the hovered book is on top */
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0); /* Larger shadow for more depth */
}

.book:hover img {
    transform: scale(1.05); /* Slight zoom to emphasize the hover effect */
    filter: brightness(1.1); /* Slightly brighten image on hover */
}

#book-description {
    margin-top: 20px;
    font-size: 1.2rem;
    font-style: italic;
    color: #fcfcfc; /* Adjust color as needed */
}

@keyframes point {
    0%, 100% {
      transform: translateX(0); /* Start at the original position */
    }
    50% {
      transform: translateX(10px); /* Move 10px to the right */
    }
  }
  
  .pointing-right-emoji {
    display: inline-block;
    font-size: 3rem; /* Adjust size as needed */
    animation: point-right 1s infinite; /* Animation duration and infinite loop */
  }

  .pointing-left-emoji {
    display: inline-block;
    font-size: 3rem; /* Adjust size as needed */
    animation: point-left 1s infinite; /* Animation duration and infinite loop */
  }

  /* Keyframe for pointing right */
@keyframes point-right {
    0% { transform: rotate(0deg); }
    50% { transform: translateX(10px); }
    100% { transform: rotate(0deg); }
  }
  
  /* Keyframe for pointing left */
  @keyframes point-left {
    0% { transform: rotate(0deg); }
    50% { transform: translateX(-10px); }
    100% { transform: rotate(0deg); }
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding-bottom: 20px;
}

.project {
    background-color: #696969;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
    overflow: hidden;
    opacity: 1;
    transition: opacity 0.3s ease;
}